$thinfinity: #007dc1;
$thinfinity-open: 50, 151, 214;
$darkgray: #666666;
$bordergray: #C0C0C0;
$darktitle: #383838;
$lightgray: #E0E0E0;
$lightborder: #F5F5F5;
$subtitle:#5F5F5F;
$subtitleline: #DCDCDC;
$red: #cb2827;

$confirm: #338246;
$confirm_hover:#44b15e;
$cancel: #cb2827;
$cancel_hover:#e23130;

$warning:#ccaa00;
$warning_hover: #ffcc00;

$shadowboxcolor: rgba(181, 181, 181, .5);
$borderboxcolor: rgba(181, 181, 181, .5);